<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Seattle Neighborhood Data</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
  <header>
    <h1>Neighborhood Stats</h1>
  </header>

  <main>
    <section id="neighborhoods">
      <article class="neighborhood-template neighborhood">
        <h2><a href="https://www.google.com/maps/place/Peninsula+Neighborhood/@41.677407,-91.5574219,17.02z/data=!4m5!3m4!1s0x87e4422c2f9ef21b:0x7f87f76648c54776!8m2!3d41.677404!4d-91.555232" target="_blank">Peninsula</a></h2>
        <p><strong>Part of:</strong> Iowa City</p>
        <p><strong>Current population: </strong> 76,290</p>
        <p><strong>Founded on: </strong> 1839</p>
        <p>Iowa City is a city in Johnson County, Iowa. It is the home of the <a href="https://uiowa.edu" target="_blank">University of Iowa</a>.</p>
        <p><strong>Star rating: </strong> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i> (4.9)</p>
      </article>
    </section>
  </main>

  <footer>
    <p>&copy; 2020 Fake Data Limited</p>
  </footer>
</body>
</html>